In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

url = "https://raw.githubusercontent.com/DAVE3625/Dave3625-Host-2025/main/Lab2/data/stud.csv"
df = pd.read_csv(url, sep=",")
df.head()

   StudentID  Age              email hrsStudy  FinalGrade
0      47412   20  s47412@oslomet.no        5        46.0
1      15077   22  s15077@oslomet.no        0        65.0
2      15467   27  s15467@oslomet.no        1        26.0
3      17907   21  s17907@oslomet.no        6        68.0
4      13352  333  s13352@oslomet.no        4        34.0